<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >
  <title>{{title}}</title>
</head>

<body>
  <h1>{{header}}</h1>
  <p>{{content}}</p>
  <a
    href="{{buttonLink}}"
    style="background-color: #007bff; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 5px;"
  >{{buttonText}}</a>
</body>

</html>